<form (ngSubmit)="onUpdate.emit(userData)">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="firstName">First Name</label>
            <input name="firstName" type="text" class="form-control" id="firstName" [(ngModel)]="userData.firstName">
        </div>
        <div class="form-group col-md-6">
            <label for="lastName">Last Name</label>
            <input name="lastName" type="text" class="form-control" id="lastName" [(ngModel)]="userData.lastName">
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input name="username" type="text" class="form-control" id="username" [(ngModel)]="$any(userData).userName">
    </div>
    <div class="form-group">
        <label for="password">New Password</label>
        <input name="newPassword" [(ngModel)]="$any(userData).newPassword" type="password" class="form-control"
            id="password" placeholder="New Password">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input name="email" type="email" class="form-control" id="email" [(ngModel)]="userData.email">
    </div>
    <div class="form-group">
        <label for="country">Country</label>
        <input name="country" type="text" class="form-control" id="country" [(ngModel)]="userData.country">
    </div>
    <div class="form-group">
        <label for="bio">Bio</label>
        <textarea name="bio" class="form-control" id="bio" [(ngModel)]="userData.bio"></textarea>
    </div>
    <div class="form-group">
        <label for="type">Occupation</label>
        <select name="type" id="type" class="form-control" [(ngModel)]="userData.type">
            <option [ngValue]="'High School Student'">High School Student</option>
            <option [ngValue]="'Undergraduate Student'">Undergraduate Student</option>
            <option [ngValue]="'Graduate Student'">Graduate Student</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>